@model Moov2.Orchard.SEO.Models.SEOSettingsPart

<fieldset>
    <legend>@T("SEO Settings")</legend>

    <div>
        @Html.EditorFor(m => m.RedirectToNonWWW)
        <label for="@Html.FieldIdFor(m => m.RedirectToNonWWW)" class="forcheckbox">@T("Redirect to non WWW")</label>
        @Html.ValidationMessage("RedirectToNonWWW", "*")
        <span class="hint">@T("Visitors making a request to the site using \"www\" will be redirected with a 301 response to the same URL without www.")</span>
    </div>

    <div>
        @Html.EditorFor(m => m.ForceSSL)
        <label for="@Html.FieldIdFor(m => m.ForceSSL)" class="forcheckbox">@T("Force SSL")</label>
        @Html.ValidationMessage("ForceSSL", "*")
        <span class="hint">@T("Force visitors to use SSL (https). This is a basic implementation that will change the URL from http to https, for greater control use the <a href=\"/Admin/Modules/Features\">Secure Sockets Layer</a> module.")</span>
    </div>

    <div>
        @Html.TextAreaFor(m => m.Robots)
        <label for="@Html.FieldIdFor(m => m.Robots)">@T("Robots.txt")</label>
        <span class="hint">@T("Define a robots.txt above, allowing web crawlers to know how to index your site.")</span>
    </div>
</fieldset>
