@model Moov2.Orchard.SEO.Models.MetaInfoPart
@{ 
    Script.Require("OGImageEditor");
    Script.Require("TwitterImageEditor");
    Style.Require("jQueryColorBox");
}
<hr />

<h2>@T("Meta Info")</h2>

<fieldset>
    <label for="@Html.FieldIdFor(m => m.Title)">@T("Title")</label>
    @Html.TextBoxFor(m => m.Title, new { @class = "text large" })
    <span class="hint">@T(string.Format("Define the title of the page, this will be shown in the browser's title bar or on the page's tab. The title will be prefixed with <strong>{0}{1}</strong>, which can be managed via the <a href=\"/Admin/Settings/Index\">site settings</a>.", WorkContext.CurrentSite.SiteName, WorkContext.CurrentSite.PageTitleSeparator))</span>
</fieldset>

<fieldset>
    <label for="@Html.FieldIdFor(m => m.Description)">@T("Description")</label>
    @Html.TextAreaFor(m => m.Description, new { @class = "text large" })
    <span class="hint">@T("Summarise the content of the page in under 160 characters.")</span>
</fieldset>

<fieldset>
    <label for="@Html.FieldIdFor(m => m.Keywords)">@T("Keywords")</label>
    @Html.TextBoxFor(m => m.Keywords, new { @class = "text large" })
    <span class="hint">@T("Comma separated list of words that describe the content on the page.")</span>
</fieldset>

<fieldset class="js-twitter-image">
    <label for="@Html.FieldIdFor(m => m.Keywords)">@T("Twitter image")</label><p style="margin-bottom: .4em"><a href="#" class="js-open-media-library">@T("Choose from media library")</a></p>
    @Html.TextBoxFor(m => m.TwitterImage, new { @class = "text large js-favicon-url-input", placeholder = T("Enter URL to a Twitter image") })
    <span class="hint">@T("Image used for twitter. A full URL to a unique image representing the content of the page. You should not use a generic image such as your website logo, author photo, or other image that spans multiple pages. Images for this Card support an aspect ratio of 1:1 with minimum dimensions of 144x144 or maximum of 4096x4096 pixels. Images must be less than 5MB in size. The image will be cropped to a square on all platforms. JPG, PNG, WEBP and GIF formats are supported. Only the first frame of an animated GIF will be used.")</span>
</fieldset>

<fieldset class="js-open-graph-image">
    <label for="@Html.FieldIdFor(m => m.Keywords)">@T("OGImage")</label><p style="margin-bottom: .4em"><a href="#" class="js-open-media-library">@T("Choose from media library")</a></p>
    @Html.TextBoxFor(m => m.OGImage, new { @class = "text large js-favicon-url-input", placeholder = T("Enter URL to an Open Graph image") })
    <span class="hint">@T("Open Graph Image, used for embedded previews. Must be a full URL to an image, not a relative URL.")</span>
</fieldset>

