@using Orchard.ContentManagement
@using Orchard.Environment.Descriptor.Models

@model Moov2.Orchard.SEO.Models.SEOSettingsPart

@{
    var isRobotsEnabled = WorkContext.Resolve<ShellDescriptor>().Features.Any(x => x.Name == "Moov2.Orchard.SEO.Robots");
    var isFaviconEnabled = WorkContext.Resolve<ShellDescriptor>().Features.Any(x => x.Name == "Moov2.Orchard.SEO.Favicon");

    Script.Require("FaviconEditor");
    Style.Require("jQueryColorBox");
}

<fieldset>
    <legend>@T("SEO Settings")</legend>

    <hr />
    <h2>SSL Settings</h2>
    <div>
        @Html.EditorFor(m => m.RedirectToNonWWW)
        <label for="@Html.FieldIdFor(m => m.RedirectToNonWWW)" class="forcheckbox">@T("Redirect to non WWW")</label>
        @Html.ValidationMessage("RedirectToNonWWW", "*")
        <span class="hint">@T("Visitors making a request to the site using \"www\" will be redirected with a 301 response to the same URL without www.")</span>
    </div>

    <div>
        @Html.EditorFor(m => m.ForceSSL)
        <label for="@Html.FieldIdFor(m => m.ForceSSL)" class="forcheckbox">@T("Force SSL")</label>
        @Html.ValidationMessage("ForceSSL", "*")
        <span class="hint">@T("Force visitors to use SSL (https). This is a basic implementation that will change the URL from http to https, for greater control use the <a href=\"/Admin/Modules/Features\">Secure Sockets Layer</a> module.")</span>
    </div>
    
    <hr />
    <h2>Meta Tags</h2>

    <div>
        <label for="@Html.FieldIdFor(m => m.TwitterUsername)">@T("Twitter Username")</label>
        @Html.EditorFor(m => m.TwitterUsername)
        <span class="hint">@T("This will be used for the Twitter social sharing meta tags (twitter:site, twitter:creator).")</span>
    </div>

    <div>
        <label for="@Html.FieldIdFor(m => m.DefaultDescription)">@T("DefaultDescription")</label>
        @Html.TextAreaFor(m => m.DefaultDescription)
        <span class="hint">@T("This is the default description in meta tags, this also can be overridden from within each page.")</span>
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.DefaultKeywords)">@T("DefaultKeywords")</label>
        @Html.TextBoxFor(m => m.DefaultKeywords, new { @class = "text large" })
        <span class="hint">@T("This is the default keywords in meta tags, this also can be overridden from within each page.")</span>
    </div>

    @if (isRobotsEnabled) {
        <hr />
        <h2>Site Crawlers</h2>
        <div>
            <label for="@Html.FieldIdFor(m => m.Robots)">@T("Robots.txt")</label>
            @Html.TextAreaFor(m => m.Robots)
            <span class="hint">@T("Define a robots.txt above, allowing web crawlers to know how to index your site. Find <a href=\"http://www.robotstxt.org/\">more information</a> on robots.txt.")</span>
        </div>
    }

    @if (isFaviconEnabled) {
        <hr />
        <h2>Favicon</h2>
        <div class="js-favicon">
            <a href="#" class="js-open-media-library">Choose from media library</a>
            @Html.TextBoxFor(m => m.Favicon, new { @class = "text large js-favicon-url-input" })
            <span class="hint">@T("Define a favicon for this website.")</span>
        </div>
    }
</fieldset>
