@using Orchard.ContentManagement
@using Orchard.Environment.Descriptor.Models

@model Moov2.Orchard.SEO.Models.SEOSettingsPart

@{
    var isRobotsEnabled = WorkContext.Resolve<ShellDescriptor>().Features.Any(x => x.Name == "Moov2.Orchard.SEO.Robots");
}

<fieldset>
    <legend>@T("SEO Settings")</legend>

    <div>
        @Html.EditorFor(m => m.RedirectToNonWWW)
        <label for="@Html.FieldIdFor(m => m.RedirectToNonWWW)" class="forcheckbox">@T("Redirect to non WWW")</label>
        @Html.ValidationMessage("RedirectToNonWWW", "*")
        <span class="hint">@T("Visitors making a request to the site using \"www\" will be redirected with a 301 response to the same URL without www.")</span>
    </div>

    <div>
        @Html.EditorFor(m => m.ForceSSL)
        <label for="@Html.FieldIdFor(m => m.ForceSSL)" class="forcheckbox">@T("Force SSL")</label>
        @Html.ValidationMessage("ForceSSL", "*")
        <span class="hint">@T("Force visitors to use SSL (https). This is a basic implementation that will change the URL from http to https, for greater control use the <a href=\"/Admin/Modules/Features\">Secure Sockets Layer</a> module.")</span>
    </div>

    <h2>Meta Tags</h2>

    <div>
        <label for="@Html.FieldIdFor(m => m.TwitterUsername)">@T("Twitter Username")</label>
        @Html.EditorFor(m => m.TwitterUsername)
        <span class="hint">@T("This will be used for the Twitter social sharing meta tags (twitter:site, twitter:creator).")</span>
    </div>

    <div>
        <label for="@Html.FieldIdFor(m => m.DefaultDescription)">@T("DefaultDescription")</label>
        @Html.EditorFor(m => m.DefaultDescription)
        <span class="hint">@T("This is the default description in meta tags, this also can be overridden from within each page.")</span>
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.DefaultKeywords)">@T("DefaultKeywords")</label>
        @Html.EditorFor(m => m.DefaultKeywords)
        <span class="hint">@T("This is the default keywords in meta tags, this also can be overridden from within each page.")</span>
    </div>

    @if (isRobotsEnabled)
    {
    <div>
        <label for="@Html.FieldIdFor(m => m.Robots)">@T("Robots.txt")</label>
        @Html.TextAreaFor(m => m.Robots)
        <span class="hint">@T("Define a robots.txt above, allowing web crawlers to know how to index your site. Find <a href=\"http://www.robotstxt.org/\">more information</a> on robots.txt.")</span>
    </div>
    }
</fieldset>
